<div id="dialogForm">
    <div class="dialog_logo">
        <h4>Eliminare lista</h4>
    </div>
    <div class="info_elimina">
        <p>Vuoi eliminare definitivamente <br> la lista <strong>Spesa?</strong></p>
    </div>
    <div class="dialog_button line-container">
        <div class="line">
            <button mat-dialog-close="yes" (click)="annulla()">Annulla</button>
            <button mat-dialog-close="yes" (click)="elimina()" class="signup_button">Conferma</button>
        </div>
    </div>
</div>