label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #295067;
}

button {
    border: 0;
    font-size: inherit;
    padding: 10px 120px;
    -webkit-box-shadow: 2px 3px 5px #c8c8c8;
    box-shadow: 2px 3px 5px #c8c8c8;
}

button:hover {
    transform: scale(1.03);
}

.dialog_button {
    display: inline-block;
    display: block;
    text-align: center;
    padding: 20px;
}

.signup_button {
    background-color: #59afe1;
    color: #fff;
    font-size: 16px;
}

.form-group {
    margin: 25px 40px 20px;
}

.form-control {
    display: block;
    width: 300px;
    height: 24px;
    padding: 4px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #59afe1;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 2px solid #295067;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dialog_logo {
    text-align: center;
    padding: 20px 0;
}

.dialog_logo h4 {
    font-size: 23px;
    color: #295067;
    padding: 5px 0;
}

.dialog_info {
    text-align: center;
    padding: 15px;
}

.dialog_info p {
    padding: 10px;
}

.dialog_info a {
    padding: 10px;
    color: #295067;
}

.dialog_info a:hover {
    opacity: 0.85;
}

.dialog_accedi {
    font-size: 18px;
    font-weight: 600;
    color: #59afe1 !important;
}