/* SCARICA */

#scarica {
    background-image: url('../../../assets/img/BG_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    background-position: bottom;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.title {
    width: 50%;
    margin: 60px 0 0 100px;
    float: left;
}

.title h1 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.title h2 {
    margin: 20px 0 0;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}

.download_phone {
    width: 10%;
    float: right;
    margin-top: -350px;
    margin-right: 280px;
}

#download {
    background-color: #59afe1;
    min-height: 100px;
    color: #fff;
    padding: 40px 0;
}

.download_info {
    width: 50%;
    float: left;
    margin-left: 100px;
    margin-top: -30px;
}

.download_info p {
    font-size: 16px;
    margin: 20px 0;
}

.phone_img {
    margin-top: 56px;
}


/* ARROW */

.arrow-wrap {
    width: 100px;
    margin: 0 auto;
}

.arrow-white {
    margin: 0px auto;
    display: block;
    padding: 0 30px 30px 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #59afe1;
}

.arrow-blue {
    margin: 0px auto -46px;
    display: block;
    padding: 0 30px 30px 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #fff;
    position: relative;
    z-index: 50;
}


/* FUNZIONALITÀ */

.funzionalita_title {
    width: 100%;
    color: #505c7a;
    text-align: center;
}

.funzionalita_title h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
}

.funzionalita_title h4 {
    font-size: 20px;
    padding: 10px 0;
    font-weight: 300;
}

#funzionalita .wrap img {
    width: 300px;
    max-width: 100%;
}

.funz {
    width: 40%;
    float: left;
    margin: 80px 40px;
}

.funz2 {
    margin-top: 70px;
}

.funz4 {
    margin-top: 40px;
}

.funz p {
    margin: 20px 0;
}

.funz h5 {
    font-weight: 400;
    font-family: 'Berkshire Swash';
    color: #505c7a;
    font-size: 20px;
    position: relative;
    z-index: 50;
}

.funz1 h5 {
    text-align: right;
}

.funz2 h5 {
    margin-bottom: -50px;
}

.funz3 h5 {
    text-align: right;
    margin-bottom: -50px;
}

.funz4 h5 {
    margin-bottom: -70px;
}


/* CONTATTI */

#contatti {
    background-color: #59afe1;
}

.contatti_title {
    width: 100%;
    color: #505c7a;
    text-align: center;
    color: #fff;
}

.contatti_title h3 {
    font-size: 30px;
    padding: 20px 0;
    font-family: 'Berkshire Swash';
}

.contatti_title h4 {
    font-size: 20px;
    padding: 10px 0;
    font-weight: 300;
}

.contatti_form input {
    width: 100%;
    height: 35px;
    margin-top: 50px;
    font-size: 16px;
    border: 0;
}

.contatti_form textarea {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border: 0;
    overflow: auto;
    font-family: inherit;
}

#contatti button {
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #505c7a;
    border: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

#contatti button:hover {
    transform: scale(1.01);
}

.download_img a:hover {
    transform: scale(1.1);
}

.backtop a {
    border: 0;
    background-color: transparent;
    position: fixed;
    z-index: 99;
    right: 50px;
    bottom: 30px;
}

.backtop a:hover {
    transform: scale(1.06);
}