<app-header></app-header>
<!--Scarica-->
<section id="scarica">

    <div class="container">
        <div class="title">
            <h1>Il nuovo modo <br> di far spesa!</h1>
            <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.Forem ipsum dolor sit amet consectetur.Torem ipsum dolor sit amet consectetur.</h2>
        </div>
    </div>

</section>

<section id="download">

    <div class="container">
        <div class="download_info clearfix">
            <p>Scarica l'applicazione per il tuo smartphone</p>
            <div class="download_img">
                <a href="#"><img src="../../../assets/img/appstore.png" alt=""></a>
                <a href="#"><img src="../../../assets/img/googleplay.png" alt=""></a>
            </div>
            <p>oppure <strong>Accedi</strong> o <strong>Registrati</strong> alla versione web.</p>
        </div>
        <div class="download_phone">
            <img class="phone_img" src="../../../assets/img/phone.png" alt="">
        </div>
    </div>

</section>

<!-- ARROW WHITE-->
<div class="arrow-wrap">
    <img class="arrow-white" src="../../../assets/img/arrow_white.png" alt="">
</div>

<!-- FUNZIONALITÀ -->
<section id="funzionalita">
    <div class="container">

        <div class="funzionalita_title">
            <h3>Scopri le funzionalità fai la spesa senza pensieri!</h3>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit,non nemo nes per concitudine.</h4>
        </div>

        <div class="wrap">
            <div class="funz">
                <div class="funz1">
                    <h5>Crea e salva le tue liste</h5>
                    <img src="../../../assets/img/funz1.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum optio fugiat.</p>
                </div>
                <div class="funz2">
                    <h5>Invia liste ai tuoi amici</h5>
                    <img src="../../../assets/img/funz3.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum optio fugiat.</p>
                </div>
            </div>
            <div class="funz">
                <div class="funz3">
                    <h5>Aggiungi gli ingredienti <br>delle tue ricette</h5>
                    <img src="../../../assets/img/funz2.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum optio fugiat.</p>
                </div>
                <div class="funz4">
                    <h5>Aggiungi e spunta <br>gli articoli</h5>
                    <img src="../../../assets/img/funz4.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum optio fugiat.</p>
                </div>
            </div>


        </div>

    </div>
</section>

<!-- ARROW BLUE-->
<div class="arrow-wrap">
    <img class="arrow-blue" src="../../../assets/img/arrow_blue.png" alt="">
</div>

<!-- CONTATTI -->
<section id="contatti">
    <div class="container">
        <div class="contatti_title">
            <h3>Vuoi scriverci un messaggio?</h3>
            <h4>Il parere dei nostri utenti è molto importante per noi.<br>Se desideri segnalarci problemi o consigliarci qualcosa non esitare a scriverci</h4>
        </div>
        <div class="wrap">
            <div class="contatti_form">
                <input type="text" placeholder="Indirizzo email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Scrivi il tuo messaggio!"></textarea>
                <button class="invia-btn_contatti">invia messaggio</button>
            </div>
        </div>
    </div>
</section>