<!--Scarica-->
<section id="scarica">
    <div class="container">
        <div class="content">
            <h1 class="contentTitle">IL NUOVO MODO DI FAR SPESA!</h1>

            <p class="contentText">
                Lorem ipsum dolor, sit amet consectetur elit. Quasi ratione nulla delectus minima, atque perspiciatis eveniet tempora? </p>
        </div>

        <div class="footer">
            <p>
                Scarica l'applicazione per il tuo smartphone
                <img src="../../../assets/img/appstore.png" alt="">
                <img src="../../../assets/img/googleplay.png" alt=""> oppure <b>Accedi</b> o <b>Registrati</b> alla versione web!
            </p>
        </div>
    </div>
</section>

<!--Funzionalià-->
<!-- <div>
    <h3>Scopri le funzionalità fai la spesa senza pensieri!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla sint, quos voluptatem voluptatibus nihil
        <div>

            <div>
                <img src="" alt="">
                <p>Compri sempre gli stessi articoli oppure aggiungi sempre nuovi prodotti?</p>
            </div>

            <div>
                <img src="" alt="">
                <p>Cosa devi preparare per cena? Torta al cioccolato o light?</p>
            </div>

            <div>
                <img src="" alt="">
                <p>Invia le liste della spesa a chi vuoi e ricevi liste dai tuoi contatti!</p>
            </div>

            <div>
                <img src="" alt="">
                <p>Controlla tutto prima di andare a cassa</p>
            </div>

        </div>
</div> -->

<!--Contatti-->
<!-- <div>
    <h4>Vuoi scriverci un messaggio?</h4>
    <p>Il parere dei nostri utenti è molto importatnte per noi! Se desideri segnalarci problemi o consigliarci qualcosa non esitare a scriverci!</p>

    <form>
        <input type="text" placeholder="inserisci e-mail" id="email" [(ngModel)]="email">

        <textarea placeholder="Scrivi il tuo messaggio" name="contentRep" id="" cols="30" rows="10" [(ngModel)]="contentReport"></textarea>

        <button type="submit">INVIA MESSAGGIO</button>

    </form>
</div> -->