#scarica {
    padding-top: 50px;
    color: white;
}

#scarica .content {
    background-image: url("../../../assets/img/BG_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 325px;
}

#scarica .contentTitle {
    width: 300px;
    margin: 0px 50px 0px 150px;
    padding-top: 70px;
}

#scarica .contentText {
    width: 380px;
    margin: 20px 50px 0px 150px;
}

#scarica .content p {
    font-size: 18px;
}

#scarica .content h1 {
    font-size: 30px;
    font-weight: bold;
}

#scarica .footer {
    background-color: #59afe1;
    padding: 25px 0px;
}

#scarica .footer p {
    width: 350px;
    margin: 0px 50px 0px 150px;
}

#scarica .footer p img {
    clear: left;
    margin: 20px 20px 20px 0px
}

#scarica .footer img.phone {
    margin-top: -409px;
    margin-left: 700px;
    position: absolute;
}

.half-circle {
    width: 70px;
    height: 35px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #59afe1;
    border-top: 0;
    position: absolute;
    margin-left: 565px;
}

.half-circle img {
    margin-left: 20.4px;
}


/*fine css scarica*/

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}