/* FOOTER */

#footer {
    background-color: #505c7a;
    padding-bottom: 0px;
}

.logo {
    width: 25%;
    float: left;
    text-align: center;
}

.info_footer {
    width: 25%;
    float: left;
}

.info_footer li {
    padding: 5px 0;
    font-size: 16px;
}

.info_footer li a {
    color: #fff;
}

.info_footer li:hover {
    opacity: 0.85;
}

.social {
    width: 25%;
    float: left;
    text-align: center;
    color: #fff;
}

.social h5 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0;
}

.copyright {
    background-color: #505c7a;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 150px;
    padding: 50px 0;
}

sup {
    vertical-align: super;
    font-size: 10px;
}