<!-- FOOTER -->
<section id="footer">
    <div class="container">

        <div class="logo">
            <a href="#"><img src="../../../assets/logo_footer.png" alt=""></a>
        </div>

        <div class="info_footer">
            <ul>
                <li><a href="#scarica">Scarica</a></li>
                <li><a href="#funzionalita">Funzionalità</a></li>
                <li><a href="#contatti">Contatti</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>

        <div class="info_footer">
            <ul>
                <li><a href="">Registrati</a></li>
                <li><a href="">Accedi</a></li>
            </ul>
        </div>

        <div class="social">
            <h5>seguici su</h5>
            <a href="#"><img src="../../../assets/twitter.png" alt=""></a>
            <a href="#"><img src="../../../assets/facebbok.png" alt=""></a>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <h5>&copy; 2018 FaiSpesa.it FaiSpesa@ Il nuovo modo di fare la spesa<sup>TM</sup></h5>
        </div>
    </div>
</section>