<html>
  <body>
    <div class="one">
    <img src="../assets/logo_footer.png" alt="">
    </div>
    <div class="two">
      <p>Scarica App</p>
      <p>Funzionalità</p>
      <p>Contatti</p>
      <p>Privacy</p>
    </div>
    <div class="three">
      <p>Registrati</p>
      <p>Accedi</p>
    </div>
    <div class="four">
      <p>Seguici su</p>
      <div class="tweet"><img src="../assets/twitter.png"></div>
      <div class="fb"><img src="../assets/facebbok.png"></div>

    </div>
    <p style="clear: left;"></p>
    <div class="down">2017 FarSpesa.it FaiSpesa Il nuovo modo di fare la spesa </div>
  </body>
</html>
