<div id="navbar">
    <div class="container">
        <nav>
            <div class="logo">
                <a href="#"><img src="../../../assets/img/logo.png" alt=""></a>
            </div>
            <ul class="right">
                <li>
                    <a routerLink="/home" routerLinkActive="selected">elenco liste</a>
                </li>
                <li>
                    <a routerLink="/ricette" routerLinkActive="selected">ricette</a>
                </li>
                <li>
                    <a routerLink="/user-profile" routerLinkActive="selected">User</a>
                </li>
            </ul>
        </nav>
    </div>
</div>