<div id="navbar">
    <div class="container">
        <nav>
            <div class="logo">
                <a href="#"><img src="../../../assets/img/logo.png" alt=""></a>
            </div>
            <ul class="right">
                <li>
                    <a routerLink="/home" routerLinkActive="selected">elenco liste</a>
                </li>
                <li>
                    <a routerLink="/ricette" routerLinkActive="selected">ricette</a>
                </li>
                <li class="dropdown">
                    <a class="dropbtn" routerLink="/user-profile" routerLinkActive="selected">{{actUser}}</a>
                    <div class="dropdown-content">
                        <a routerLink="/user-profile" routerLinkActive="selected">Profilo</a>
                        <a (click)="logOut()">Log out</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>