<div id="navbar">
    <div class="container">
        <nav>

            <div class="logo">
                <a href=""><img src="../../../assets/img/logo.png" alt=""></a>
            </div>

            <ul class="right">
                <li>
                    <a href="#">Scarica</a>
                </li>
                <li>
                    <a href="#">Funzionalità</a>
                </li>
                <li>
                    <a href="#">Contatti</a>
                </li>
                <li>
                    <button tabindex="-1">Registrati</button>
                </li>
                <li>
                    <button class="accedi" tabindex="-1">Accedi</button>
                </li>

            </ul>

        </nav>
    </div>
</div>