<div id="navbar">
    <div class="container">
        <div class="row">
            <nav>
                <div class="logo">
                    <a (click)="setAnchor('scarica')"><img src="../../../assets/img/logo.png" alt=""></a>
                </div>

                <a (click)="show()" class="header_icon_bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <ul id="menu" class="right header_menu">
                    <li class="header_menu_item">
                        <a (click)="setAnchor('scarica')">Scarica</a>
                    </li>
                    <li class="header_menu_item">
                        <a (click)="setAnchor('funzionalita')">Funzionalità</a>
                    </li>
                    <li class="header_menu_item">
                        <a (click)="setAnchor('contatti')">Contatti</a>
                    </li>
                    <li class="header_menu_item">
                        <button (click)="signUpopenDialog()" class="registrati">Registrati</button>
                    </li>
                    <li class="header_menu_item">
                        <button (click)="signInopenDialog()" class="accedi">Accedi</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>