<div id="navbar">
    <div class="container">
        <nav>
            <div class="logo">
                <a href=""><img src="../../../assets/img/logo.png" alt=""></a>
            </div>
            <ul class="right">
                <li>
                    <a href="#">Scarica</a>
                </li>
                <li>
                    <a href="#">Funzionalità</a>
                </li>
                <li>
                    <a href="#">Contatti</a>
                </li>
                <li>
                    <button (click)="signUpopenDialog()">Registrati</button>
                </li>
                <li>
                    <button (click)="signInopenDialog()" class="accedi">Accedi</button>
                </li>
            </ul>
        </nav>
    </div>
</div>