.contentCenter
{
  width: 60%;
	height:200px;
	margin: 0 auto;
}
.null {
	width: 33%;
	height:200px;
	float: left;
	text-align: center;
  }

.center {
  width: 34%;
  height:200px;
  float:left;
  text-align: center;
  }

.arrow {
  max-width: 100%;
	min-width: 5%;
    height: auto;
	/*width: 33%;
	height:20%;	*/
	float:left;
	margin-top: 14%;
}

.add_button {
  background-color: #ffcc00;
  border: none;
  color: #295067;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 90px;
  margin-bottom: 10%;
  margin-right: 10%;
  border-radius: 50%;
  float: right;
}
