<app-header></app-header>
  <div class="contentCenter">
    <h1>Benvenuto!</h1>
    <p>Inizia a creare la tua lista</p>
    <img src="../../../assets/img/home_liste.png" alt="">
    <p>Create ora la tua prima lista della spesa</p>
  </div>
  <div class="arrow"><img src="../../../assets/img/arrow_big.png"></div>
  <p style="clear: left;"></p>
  <div class="addlist_button">
    <button href="#" class="add_button"><img src="../../../assets/img/plus.png"></button>
  </div>
<app-footer></app-footer>
