.contentCenter
{
  float: center;
}
.arrow {
  float: right;
}

.add_button {
  background-color: #ffcc00;
  border: none;
  color: #295067;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
