<div id="dialogForm">
    <div class="dialog_logo">
        <img src="../../../assets/img/faispesa_txt.png" alt="">
        <h4>Crea un Account</h4>
    </div>
    <div class="form-group">
        <label for="">Nome e Cognome</label>
        <input type="text" class="form-control" placeholder="Nome e Cognome">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="dialog_button">
        <button mat-dialog-close="yes" class="signup_button">Registrati</button>
    </div>
    <div class="dialog_info">
        <p><a href="#">Hai già un account?</a></p>
        <p><a href="#" class="dialog_accedi">Accedi ora</a></p>
    </div>
</div>