<div id="fascia">
    <div class="container">
        <div class="fascia-info">
            <p class="fascia_nome">Benvenuto <strong>Mario Rossi</strong></p>
            <p>Modifica le impostazioni di base del tuo account</p>
        </div>
    </div>
</div>

<div id="profilo">
    <div class="container">
        <div class="wrap profilo">
            <div class="logo">
                <img class="profile_img" src="../../../assets/img/img_profile.png" alt="">
                <a href=""><img class="camera_icon" src="../../../assets/img/camera.png" alt=""></a>
            </div>
            <div class="profilo-info">
                <p>Nome utente</p>
                <h3 class="nome_profilo">Mario Rossi</h3>
                <p>e-mail</p>
                <h3>mario.rossi@gmail.com</h3>
            </div>
        </div>
    </div>
</div>