<div id="dialogForm">
    <div class="dialog_logo">
        <img src="../../../assets/img/faispesa_txt.png" alt="">
        <h4>Accedi</h4>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="dialog_button">
        <button mat-dialog-close="yes" class="signup_button">Accedi</button>
    </div>
    <div class="dialog_info">
        <p><a href="#">oppure</a></p>
        <p><a href="#" class="dialog_accedi">Crea un Account</a></p>
    </div>
</div>