<div id="fascia">
    <div class="container">
        <div class="fascia-info">
            <div class="num_liste">
                <p>NumeroListe > <strong> {{nomeList}} </strong></p>
            </div>
            <div class="dose">
                <p>dose</p>
            </div>
            <div class="quantita">
                <p>quantità</p>
            </div>
        </div>
    </div>
</div>

<section id="elenco-liste">
    <div class="container">
        <div *ngFor="let item of list; let i=index">
            <div class="detail_1">
                <div class="elenco-list_img"><img src="{{item.image}}" alt=""></div>
                <span>{{item.name}}</span>
            </div>
            <div class="detail_2">
                <span>{{item.dose}}</span>
            </div>
            <div class="detail_3">
                <span>{{item.dose}}</span>
            </div>
            <!-- <div *ngIf="item.gotIt"> <img src="../../../assets/img/check.png" alt=""></div>
            <div *ngIf="!item.gotIt"> <img src="../../../assets/img/wrong.jpg" alt=""></div>
            <div *ngIf="i!=list.length-1"></div> -->
        </div>
    </div>
</section>

<div class="container">
    <div class="list-btn">
        <button (click)="addItem()">+</button>
    </div>
</div>